body {
  background-color: rgb(193, 223, 74);
}
p {
  font-family: 'Times new roman', Times, serif;
  font-weight: 600;
  background-color: pink;
}

#letter {
  position: relative;
  top: 6px;
  left: 3px;
  color: rgb(153, 211, 249);
}
